*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url(img/jumbo.png);
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
}

.justify-content{
    justify-content: space-between;
}

.small{
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.small button{
    width: 25%;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    padding: 7px;
}

.big{
    flex-basis: 40%;
}

#main-nav{
    display: flex;
    justify-content: center;
    padding: 15px;
}

ul li{
    padding: 15px;
    color: white;
    font-weight: bold;
}
 /* NAVBAR COMPLETATA */

 .titolo-2button{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 75px;
 }

 .titolo-2button h1{
    font-weight: bold;
    color: white;
    font-size: 4.5rem;
 }

 .titolo-2button p{
    color: white;
    font-size: 1.5rem;
    padding: 45px 45px 25px 45px;
 }


 .titolo-2button  #download{
    width: 15%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 13px;
}
 
.titolo-2button  #open-discord-browser{
    width: 22%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 13px;
    background-color: black;
    color: white;
    margin-left: 20px;
}
 
/* FINE HEADER */

.no-right{
    background-color: rgb(246,246,246);
    margin-top: 100px 0;
 }

 .image{
    flex-basis: 70%;
    text-align: center;
    padding: 50px;
 }

 .text{
    flex-basis: 30%;
    padding: 46px;
 }

 .text h2{
    font-size: 50px;
    font-weight: bold;
 }

 .text p{
    margin-top: 15px;
    line-height: 23px;
 }

 .reverse{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: row-reverse;
 }

 .column{
    flex-direction: column;
    padding: 50px;
 }

 .column div{
    margin: 5px 0;
 }

 .little-title{
    text-align: center;
 }

 .little-title h2{
    font-size: 50px;
 }

 .little-title p{
    font-size: 125%;
    margin-top: 20px;
 }

 .image2{
    background-color: rgb(15, 127, 161);
 }

 .button2{
    background-color: rgb(170, 29, 116);
 }

 .titolo-stellato{
    text-align: center;
 }

 .titolo-stellato button{
    width: 12%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 1%;
    background-color: rgb(142,161,225);
    color: white;
    margin: 25px;
 }

    /* FINE MAIN */
#social{
        flex-basis: 32%;
        padding: 15px;
}

#social img{
    width: 6%;
}
 
#social h2{
    font-size: 2.8rem;
    margin-bottom: 15%;
}

#language-list{
   display: inline-block;
    color: white;
    line-height: 50%;
}

#product{
        flex-basis: 17%;
}
    
#company{
        flex-basis: 17%;
}
    
#resources{
        flex-basis: 17%;
}
    
#standards{
        flex-basis: 17%;      
}
    
footer{
        margin-top: 20px;
        background-color: rgb(35,39,42);
        padding: 5%;
}
    
.social-tag{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 45%;
    padding: 20px 0;
    font-size: 1.5rem;
}

.br-line{
    border-top: 1px solid rgb(111,134,213);
    padding: 35px 0;
}

.logo-finale{
    flex-basis: 20%;
}

.logo-finale button{
    width: 30%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 8px;
    background-color: rgb(111,134,213);
    color: white;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}