*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header{
    background-image: url(img/jumbo.png);
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.small{
    flex-basis: 20%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.small button{
    width: 25%;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    padding: 7px;
}

.big{
    flex-basis: 40%;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li{
    padding: 20px;
    color: white;
    font-weight: bold;
}
 /* NAVBAR COMPLETATA */

 .titolo-2button{
    width: 60%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 75px;
 }

 .titolo-2button h1{
    font-weight: bold;
    color: white;
    font-size: 4.5rem;
 }

 .titolo-2button p{
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    padding: 45px 45px 25px 45px;
 }


 .titolo-2button  #download{
    width: 15%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 13px;
}
 
.titolo-2button  #open-discord-browser{
    width: 20%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 13px;
    background-color: black;
    color: white;
    margin-left: 20px;
}
 
/* FINE HEADER */

.no-right{
    background-color: rgb(246,246,246);
    margin: 100px 0;
 }

 .image{
    flex-basis: 70%;
    text-align: center;
    padding: 50px;
 }

 .text{
    flex-basis: 30%;
    padding: 46px;
 }

 .text h2{
    font-size: 50px;
    font-weight: bold;
 }

 .text p{
    margin-top: 15px;
 }

 .reverse{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    flex-direction: row-reverse;
 }

 .column{
    flex-direction: column;
    padding: 50px;
 }

 .column div{
    margin: 5px 0;
 }

 .little-title{
    text-align: center;
 }

 .little-title h2{
    font-size: 50px;
 }

 .little-title p{
    font-size: 125%;
    margin-top: 20px;
 }

 .image2{
    background-color: rgb(15, 127, 161);
 }

 .button2{
    background-color: rgb(170, 29, 116);
 }

 .titolo-stellato{
    text-align: center;
 }

 .titolo-stellato button{
    width: 12%;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 1%;
    background-color: rgb(142,161,225);
    color: white;
    margin: 25px;
 }

     /* FINE MAIN */

     #social{
        flex-basis: 32%;
        background-color: red;
     }
    
     #product{
        flex-basis: 17%;
        background-color: cornflowerblue;
     }
    
     #company{
        flex-basis: 17%;
        background-color: red;
     }
    
     #resources{
        flex-basis: 17%;
        background-color: cornflowerblue;
     }
    
     #standards{
        flex-basis: 17%;
        background-color: red;
     }
    
     /* 2°PARTE DEL FOOTER */
    
     footer{
        margin-top: 20px;
     }
    